body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

form{
    max-width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    background-color: rgb(248 249 250);
    border-radius: 8px;
    color:#637E8A;
    padding-bottom: 20px;
}
h1{
    text-align: center;
}
button{
    background-color:#637E8A ;
    color: white;
    border-radius: 5px;
    border-style:none;
    width: 49%;
    margin: 0%;
    

}
input{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
    border-style:groove;
    border-color:rgb(223, 223, 223) ;
    border-width: 1px;
    margin-bottom: 0%;
}

#buttonContainer{
    width: 80%;
    margin-left: 10%;
    align-content: center;
    margin-top: 3%;
    margin-right: 10%;
}
p{
    margin-left: 5%;
    color: red !important;
    padding-inline-end: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 5%;
    text-align: center;
    font-size:x-small;
    display:none;

}